.container {
  height: 90vh;
  width: 15%;
}

.candidatesTitle {
  font-weight: bold;
  border: 2px solid #000;
}

.candidateElement {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.candidateElement:nth-child(even) {
  opacity: 0.6;
}

.candidateElement input {
  color: green;
}

.listHeader {
  display: flex;
  justify-content: space-between;
  padding-right: 40px;
}

.listContainer {
  height: 90vh;
  overflow-y: scroll;
}

